# Object créé par le makefile
*.o

# L'exécutable
comp

# Dossier de debug
debug/

# Dossier output
output/

# Fichier des stats créées par run_test.sh
resultat_test.txt

# Fichier de test à ne pas diffuser pour des pb de droit
data_test/coursphp.pdf
data_test/v_700.avi
fichier_binaire

# Fichier de test à ne pas diffuser parce que trop lourd
t_10.txt
t_100.txt
t_1000.txt
t_2000.txt
v_6.mp4
v_8.mp4
v_17.mp4
v_100.mp4
bdd.sqlite
document.docx
document.odt
i_4.jpg
i_6.jpg
